# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# Models (optional but recommended to ignore)
ai_engine/forecasting/saved_models/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

#Ignore Local ML models
finbert_model/